* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(237, 234, 234);

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}


.card {
  background-color: white !important;
  color: black;
  padding: 10px;
}

.card-wrapper{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;

}

.input{
  padding: 10px;
  width: 100%;
}

.input.active{
 border: 4px solid green;
}




.btn{
  cursor: pointer;
  padding: 10px;
  width: 100%;

}

ul{
  list-style: none;
  padding: 0 10px;
}

ul li {
  margin: 10px 0;
}


