* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(237, 234, 234);

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}


.card {
  background-color: white !important;
  color: black;
  padding: 10px;
}

.card-wrapper{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.input{
  padding: 10px;
}

.btn{
  cursor: pointer;
  padding: 10px;

}

ul{
  list-style: none;
  padding: 10px;
}

ul li {
  margin: 10px 0;
}


