*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: red;
    color: white;
    width: 226px;
    cursor: pointer;
    padding: 12px 24px;
}

ul  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     margin-bottom: 20px;
}

ul li {
    list-style: none;
    margin-top: 10px;
    background-color: gray;
    color: black;
    padding: 10px;
    width: 200px;
}


.card.hidden{
    display: none;
}
