*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    width: 250px;
    height: 250px;
    background-color: #eee;
    text-align: center;
    padding: 30px;
}

p{
    margin-top: 10px;
}