* {
  margin: 0;
  padding: 0;
}

hr {
  margin: 10px 0;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 600px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.title {
  font-weight: bold;
}

.description {
  margin-top: 5px;
}

/* */

input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 200px;
}

button {
    margin-right: 10px;
}

small {
    display: block;
    color: red;
}