* {
    padding: 0;
    margin: 0;
}


.container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
}

.navbar {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    background-color: aliceblue;
}

.navbar .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: auto 0;

}

/* */
.navbar .navbar-wrapper .menu {
     position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;

    color: black;
    background-color: red;

    transition: transform 1s ease;
    transform: translateX(-100%);


    display: flex;
    flex-direction: column; 

}

.navbar .navbar-wrapper .menu.active {
    transform: translateX(0);
}


.navbar .navbar-wrapper .menu ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

    list-style: none;
}

.navbar .navbar-wrapper .menu .menu-header {

   display: flex;
    justify-content: flex-end;
     padding: 0 15px;

}

