* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

header #header{
    width: 100%;
    text-align: center;
}

header #header .title{
    padding: 100px;
    background-color: rgb(237, 237, 237);
    color: red;
    font-size: 24px;
}

main #hero {
    background-color: rgb(78, 77, 77);
    color: white;
   
}

main #hero form{
    padding: 20px;
}

main #hero form .card{
    margin: 20px 0;
}

.btn{
    padding: 12px 24px;
    cursor: pointer ;
}